* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  background-image: linear-gradient(rgb(53, 53, 53), grey);
}
h1 {
  padding: 20px;
  color: #e6dcdc;
  background-color: #312f2f;
  text-align: center;
  position: sticky;
}
.container {
  margin: 20px 100px 10px 150px;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  border: 1px solid #a30f0f;
}
.content{
    margin: 2px;
    padding: 10px;
}
.content img {
  height: 25vh;
  cursor: pointer;
}
#fullImg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}