* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#322b2b, #999);
}

h1 {
  padding: 20px;
  color: #e6dcdc;
  background-color: #312f2f;
  text-align: center;
  position: sticky;
}

.container {
  margin: 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #2c2929;
  border-radius: 10px;
}

.content {
  margin: 2px;
  padding: 10px;
  height: 200px;
}

.fullImg {
  width: 90vh;
  display: none;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

button {
  width: 30px;
  height: fit-content;
  cursor: pointer;
}

#img-Box {
  width: 60%;
}
